appdirs==1.4.3
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
flake8==3.5.0
future==0.16.0
gmusicapi==11.0.0
gpsoauth==0.4.1
httplib2==0.10.3
idna==2.6
lxml==4.1.1
mccabe==0.6.1
MechanicalSoup==0.10.0
mock==2.0.0
mutagen==1.40.0
oauth2client==4.1.2
pbr==3.1.1
proboscis==1.2.6.0
protobuf==3.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycryptodomex==3.4.12
pyflakes==1.6.0
python-dateutil==2.6.1
requests==2.18.4
rsa==3.4.2
six==1.11.0
urllib3==1.22
validictory==1.1.2
